<div id="container">
    <div class="container-1">
        <div class="nav-hc">
            <div class="navbar-collapse collapse nav-inner-hc">
                <h1>HANCO</h1>
                <ul class="nav navbar-nav nav-inner-hc-ul-1">
                    <li class="active"><%=link_to '첫 화면', "/" %></li>
                    <li><%=link_to '소 개', "#introduce" %></li>
                    <li><%=link_to '문 의', "#" %></li>
                    <li><%=link_to '게시판', '/posts' %></li>
                </ul>

                <ul class="nav navbar-nav navbar-right nav-inner-hc-ul-2">
                    <% if user_signed_in? %>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
                        <ul class="dropdown-menu size-hc">
                          <li><%= link_to "내 프로필", profile_path %></li>
                          <li class="project-a-color"><%= link_to "프로젝트", "/projects" %></li>
                          <li><%= link_to "정보수정", edit_user_registration_path %></li>
                          <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
                        </ul>
                      </li>
                    <% else %>
                      <li class="signup-btn-color-hc-1"><%= link_to "Log In", new_user_session_path %></li>
                      <li class="signup-btn-color-hc-2"><%= link_to "Sign Up", new_user_registration_path %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-2">
        <div class="section">
            <div class="section-inner" id="introduce">
                <div class="section-inner-vertical-grid">
                    <div class="index-section-horizon-1">
                        <%= image_tag('monitor01.jpg') %>
                    </div>
                    <div class="index-section-horizon-2">
                        <div class="index-section-content">
                            <span>자유로운 <p style="color: #AC58FA; display: inline;">Plannig</p>과</span><br>
                            <span>달성률 확인!!</span><br><br><br><br>
                            <p style="font-family: 'Jua', sans-serif; font-size: 20px;">그 놀라운 경험을 HANCO와 함께해 보세요</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-inner-2">
                <div class="section-inner-2-horizon-grid">
                    <div class="section-inner-2-vertical01">
                        <%= image_tag('monitor02.png') %>
                    </div>
                    <div class="section-inner-2-vertical02">
                        <div class="section-inner-2-content-grid">
                            <span class="section-inner-2-content01">개인 프로젝트와 팀 프로젝트까지</span><br>
                            <div section-space-co></div>
                            <span class="section-inner-2-content02">
                                <p>HANCO</p>의 편리함을 느껴보세요
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-inner">
            <h3>HANCO</h3>
            <p>Copyright : HandlingCode(HANCO)_박준영 and 김홍빈</p>
            <a href="https://github.com/JSPlike">깃허브 링크가즈아</a>
        </div>
    </div>

</div>
<script>
    $(window).scroll(function() {
    if($(this).scrollTop() < 70)
        $('.nav-hc').css('background-color', 'transparent'),
        $('.nav-hc h1').css('color', 'black'),
        $('.nav-inner-hc-ul-1 a').css('color', '#0489B1'),
        $('.signup-btn-color-hc-2 a').css('color', '#2E64FE'),
        //$('.nav-inner-hc-ul-2 a').css('color', '#8258FA'),
        $('.nav-hc').css('opacity', '1');
    else
        $('.nav-hc').css('background-color', '#585858'),
        $('.nav-hc h1').css('color', '#ffffff'),
        $('.nav-inner-hc-ul-1 a').css('color', '#819FF7'),
        $('.signup-btn-color-hc-2 a').css('color', '#81BEF7'),
        $('.nav-inner-hc-u1-1 a:hover').css('color', 'black'),
        //$('.nav-inner-hc-u1-2 a:hover').css('color', 'black'),
        $('.nav-hc').css('opacity', '.9');
});
</script>
