<div style="width: 100%; text-align: center;">
	<div style="width: 20%; margin-left: 40%; margin-right: 40%;">
		<div class="card" style="margin-top: 50px; padding: 30px; border: 1px solid black; border-radius: 5px;">
			<% unless current_user.avatar.url.nil? %>
				<div class="card-image">
					<img src="<%= current_user.avatar.url %>"  style="width: 10em; height: auto;"/>
				</div>
			<% end %>

			<div class="card-body">
			  <h5 class="card-title">
			  	<%= label_tag "이름" %>
					<%= current_user.name %>
					<%= current_user.email %>		
				</h5>
			  <p class="card-text">저는 박준영 입니다.</p>
			</div>

			<ul class="list-group list-group-flush">
				<li class="list-group-item">
			  	<%=link_to '내 프로젝트', projects_myproject_path %>
			  </li>
			  <li class="list-group-item">
			  	<%=link_to '게시판', posts_path %>
			  </li>
			  <li class="list-group-item">
			  	<%= link_to "Roles : " + user_roles(current_user), '#' %>
			  </li>
			</ul>

			<div class="card-body">
			  <a href="/" class="card-link" style="padding-right: 20px;">뒤로 가기</a> |
			  <a href="#" class="card-link" style="padding-left: 20px;">정보 수정</a>
			</div>

		</div>
	</div>
</div>
