<div class="card post">
  <div class="card-content">
    <!--
    <% if post.user.avatar %>
      <img class="thumbnail" src="<% post.user.avatar.thumb.url %>" style="display: inline;"/>
    <% else %>


    <% end %>
    -->
    <%= image_tag('basic_img.png')%>
    <span class="card-title" style="display: inline; margin-right: 5px;"><%= post.user.name %></span>
    <span><%= post.created_at %></span>
    <div class="content">
      <hr>
      <p class="pre-line"><%= simple_format post.content %></p>
      <br>
      </div>
    <div class="card-image">
      <% if post.image.url %>
        <img src="<%= post.image.url %>" style="width: 380px; height: auto">
      <% end %>
    </div>

    <div class="card-action">
      <%= post.likes.size %>명이 좋아합니다<br><br>
      <% if current_user.is_like?(post) %>
        <%= link_to "좋아요 취소", post_like_path(post), method: "post" %>
      <% else %>
        <%= link_to "좋아요", post_like_path(post), method: "post" %>
      <% end %>
      <!-- 유저값을 확인하여 게시판을 쓴 유저라면 수정, 삭제버튼 확인 가능-->
      <% if current_user.id == post.user.id %>
        <%= link_to "삭제", post_path(post), method: "delete", class: "right" %>
        <%= link_to "수정", edit_post_path(post), class: "right" %>
      <% end %>

      <%= form_tag post_comments_path(post) do %>
        <div class="input-field">
          <%= text_area_tag :content, nil, class: "materialize-textarea", placeholder: "댓글을 작성해주세요.", required: true %>
        </div>
        <div class="input-field">
          <%= button_tag "댓글 달기", class: 'btn-primary btn', style: "background-color: #04B486;"%>
        </div>
      <% end %>
      <hr>
      <% if post.comments.present?%>
        <ul class="">
          <% post.comments.reverse.each do |c| %>
            <li class="collection-item">
              <span class="title" style="font-weight: bold; color: #5882FA;"><%= c.user.name%></span>
              <span class="right"><%= c.created_at%></span>
              <p style="font-size: 21px; font-family: 'Nanum Pen Script', cursive;"><%= c.content %></p>
              <% if c.user.id == current_user.id %>
                <div style="display: inline; float: right">
                  <%= link_to "삭제", post_comment_path(post, c), method: "delete" %>
                </div><br>
                <hr>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
