<div class="card" style="width: 20em; margin-left: auto; margin-right: auto;">
  <div class="card-img-top my-profil-hc">
    <% unless current_user.avatar.url.nil? %>
    <div class="card-image">
      <img src="<%= current_user.avatar.url %>"  style="width: 20em; height: auto;"/>
    </div>
    <% end %>
    <br>
    <div class="card-body">
      <span><%= current_user.name %>님의 프로필</span>
      <!-- New Post 버튼-->
      <br>
      <div class="btn-newpost-hc">
        <%= link_to new_post_path do %>
          <button class="btn btn-raised btn-success" style="width: 100%;">새 글쓰기</button>
        <% end %>
      </div>
      <div class="btn-homeAndpoject-hc">
        <%= link_to root_path do %>
          <button class="btn btn-raised btn-warning" style="width: 100%; display: inline-block; background-color: #FFBF00;">홈으로</button>
        <% end %>

        <%= link_to projects_path do %>
          <button class="btn btn-raised btn-primary" style="width: 100%; display: inline-block;">내 프로젝트</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>


<div class="col s12 m8">
  <!-- _post.html.erb에 partial -->
  <% @posts.reverse.each do |post| %>
    <%= render partial: "post", locals: { post: post } %>
  <% end %>
</div>
