<p id="notice"><%= notice %></p>
<%= link_to new_post_path do %>
  <button class="btn btn-success btn-size-hc">새 글쓰기</button>
<% end %><br>

<% @posts.reverse.each do |post| %>
<div class="card">
  <div class="row">
    <div class="card-content">
      <span class="card-title"><%= post.user.name %></span>
      <span><%= post.created_at %></span>
      <hr>
      <p><%= post.content %></p>
      <br>
      <div class="card-image">
        <% if post.image %>
          <img src="<%= post.image %>" style="width: 520px; height: auto">
        <% end %>
      </div>
      <div class="card-action">
        <a href="#">좋아요</a>
        <a href="#">댓글 달기</a>
      </div>
    </div>
  </div>
</div>
<% end %>
