<!DOCTYPE html>
<html>
  <head>
    <title>HANCO</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <%= stylesheet_link_tag    'projects', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Bitter|Do+Hyeon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Jquery 사용-->
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div class="project-nav-hc">
      <ul class="nav nav-tabs grid-hc">
        <li class="nav-item" style="float: left;">
          <a href="/"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true">홈으로</span></a>
        </li>

        <li class="nav-title-hc">
          <span>HANCO</span>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">프로필 파트</a>
        </li>

        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> 님 안녕하세요<b class="caret"></b></a>
            <ul class="dropdown-menu size-hc">
              <li class="project-a-color"><%= link_to "새 프로젝트", projects_path%></li>
              <li><%= link_to "정보수정", edit_user_registration_path %></li>
              <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
            </ul>
          </li>
        <% else %>
          <li class="signup-btn-color-hc-1">
            <%= link_to "Log In", new_user_session_path %>
          </li>
          <li class="signup-btn-color-hc-2">
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
        <% end %>
        <!-- 이 버튼 누를 시 옆에 새 탭이 나오면서 리스트 출력-->
        <li class="nav-item">
          <!-- 임시로 달아논 태그-->
          <%= link_to '내 프로젝트', projects_myproject_path, class:"nav-link active"%>
        </li>
      </ul>
    </div>
    <div class="project-container-hc">
      
      
      <%= yield %>
    </div>

    <script>
    
    </script>

  </body>
</html>
